@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Bold.ttf);
    font-weight: 700;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Regular.ttf);
}

*,
*:before,
*::after {
    box-sizing: border-box;
}

body {
  background: #f1f1f1;
  margin: 0 auto;
}

h1 {
    font-family: "Anonymous Pro", sans-serif;
    font-size: 56px;
}

h2 {
  font-family: "Anonymous Pro", sans-serif;
  color: #121723;
	font-size: 48px;
  font-weight: 700;
  margin: 32px 0;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 25px ;
}


h3 {
  font-family: "Anonymous Pro", sans-serif;
	font-size: 26px;
  color: #121723;
  font-weight: 700;
}

p {
  font-family: "Anonymous Pro", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #121723;
}


/*Header*/
.header {
  background: white;
  padding: 20px 0px;
  border-bottom: 1px solid #676B73;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Navigation*/
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}
.nav__links {
  text-decoration: none;
  color: black;
  font-family: Anonymous Pro;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;

}
/*Content*/
.content {
  margin-bottom: 32px;
}
/*Sneakers*/

.sneakers {
	display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 0;
  border-radius: 12px;
  background: white;
}

.card__info {
  padding: 32px 24px;
}

.card__title h3 {
  line-height: 0.5;
}

.card__text {
  margin: 0;
}

.card__image {
  max-width: 370px;
  margin: 0 auto;
}

/*Footer*/
.footer {
  background: #121723 ;
  color: white;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
}
.menu__footer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}
.nav__links__footer {
  text-decoration: none;
  color: white;
  font-family: Anonymous Pro;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.footer_inner::after {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 1;
  width: 1000px;
  height: 3px;
  background-color: yellow;
} 
.copyright {
  font-family: "Anonymous Pro", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #A1A6B4;
  text-align: center;
  padding: 24px;
  border-top: 1px solid #A1A6B4;
}
/*Versia de la Mobila*/
@media screen and (max-width:430px) {
  
  .container {
    padding: 0 16px;
  }
  
  .header__inner {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  h2 {
    font-size: 32px;
  }

  .card__image {
    max-width: 343px;
  }

  .footer__inner {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}

/*Page-Sneaker------------------------------------------------------------*/
.sneaker {
  margin: 32px 0;
}
.sneaker__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
  background-color: #fff;
  padding: 32px 24px;
  font-family: "Anonymous Pro", sans-serif;
  border-radius: 50px;
}
.sneaker__img {
  max-height: 600px;
}
.sneaker__title h2, .sneaker__subtitle h3 {
  margin: 0;
}

.sneaker__info {
  display: flex;
  gap: 32px;
}
.sneaker__text {
  width: 50%;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
}
.sneaker__parameters {
  width: 50%;
}
.sneaker__parameters {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.parameters__title h4 {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
}
.parameters__title {
  position: relative;
  font-size: 20px;
}
.parameters__title::after {
  position: absolute;
  content: "";
  height: 1px;
  background-color: #121723;
  width: 100%;
  top: 45px;
}
.parameter {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.parameter::after {
  position: absolute;
  content: "";
  height: 1px;
  background-color: #121723;
  width: 100%;
  top: 25px;
}
/*Page dlya tvoy Xiaomi*/
@media screen and (max-width:430px) {
  
  .container {
    padding: 0 16px;
  }

  .sneaker__content {
    border-radius: 12px;
    padding: 24px;
  }

  .sneaker__img {
    max-width: 295px;
    max-height: 175px;
    margin-bottom: 8px;
  }

  .sneaker__title h2 {
    font-size: 32px;
  }

  .sneaker__subtitle h3 {
    font-size: 20px;
  }

  .sneaker__info {
    flex-direction: column;
  }

  .sneaker__text {
    width: 100%;
    font-size: 16px;
  }

  .sneaker__parameters {
    width: 100%;
    margin: 8px 0;
  }

}